<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %} My Blog</title>
        {% endblock %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">My Blog</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">{% block content %}{% endblock %}</div>
    </div>

    <footer>
        <div class="row">
            {% block footer %}
                &copy; Copyright {{ "now"|date("Y") }} Me.
            {% endblock %}
        </div>
    </footer>
</body>
</html>
