{% extends 'layout.twig' %}
{% block content %}
    <h2>Recent Articles</h2>
    <ul id="navigation">
        {% for article in articles %}
            <li><a href="{{ article.href }}">{{ article.title }}</a> - {{ article.date }}</li>
        {% endfor %}
    </ul>
{% endblock %}
